.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.m-auto {
  margin: auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-auto {
  margin-top: auto;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.ml-auto {
  margin-left: auto;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mr-auto {
  margin-right: auto;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-width: 576px) {
  m-sm-1 {
    margin: 10px;
  }
  m-sm-2 {
    margin: 20px;
  }
  m-sm-3 {
    margin: 30px;
  }
  m-sm-4 {
    margin: 40px;
  }
  m-sm-5 {
    margin: 50px;
  }
  m-sm-auto {
    margin: auto;
  }
  mt-sm-1 {
    margin-top: 10px;
  }
  mt-sm-2 {
    margin-top: 20px;
  }
  mt-sm-3 {
    margin-top: 30px;
  }
  mt-sm-4 {
    margin-top: 40px;
  }
  mt-sm-5 {
    margin-top: 50px;
  }
  mt-sm-auto {
    margin-top: auto;
  }
  mb-sm-1 {
    margin-bottom: 10px;
  }
  mb-sm-2 {
    margin-bottom: 20px;
  }
  mb-sm-3 {
    margin-bottom: 30px;
  }
  mb-sm-4 {
    margin-bottom: 40px;
  }
  mb-sm-5 {
    margin-bottom: 50px;
  }
  mb-sm-auto {
    margin-bottom: auto;
  }
  ml-sm-1 {
    margin-left: 10px;
  }
  ml-sm-2 {
    margin-left: 20px;
  }
  ml-sm-3 {
    margin-left: 30px;
  }
  ml-sm-4 {
    margin-left: 40px;
  }
  ml-sm-5 {
    margin-left: 50px;
  }
  ml-sm-auto {
    margin-left: auto;
  }
  mr-sm-1 {
    margin-right: 10px;
  }
  mr-sm-2 {
    margin-right: 20px;
  }
  mr-sm-3 {
    margin-right: 30px;
  }
  mr-sm-4 {
    margin-right: 40px;
  }
  mr-sm-5 {
    margin-right: 50px;
  }
  mr-sm-auto {
    margin-right: auto;
  }
  mx-sm-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  mx-sm-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  mx-sm-3 {
    margin-left: 30px;
    margin-right: 30px;
  }
  mx-sm-4 {
    margin-left: 40px;
    margin-right: 40px;
  }
  mx-sm-5 {
    margin-left: 50px;
    margin-right: 50px;
  }
  mx-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }
  my-sm-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  my-sm-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  my-sm-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  my-sm-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  my-sm-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  my-sm-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 768px) {
  m-md-1 {
    margin: 10px;
  }
  m-md-2 {
    margin: 20px;
  }
  m-md-3 {
    margin: 30px;
  }
  m-md-4 {
    margin: 40px;
  }
  m-md-5 {
    margin: 50px;
  }
  m-md-auto {
    margin: auto;
  }
  mt-md-1 {
    margin-top: 10px;
  }
  mt-md-2 {
    margin-top: 20px;
  }
  mt-md-3 {
    margin-top: 30px;
  }
  mt-md-4 {
    margin-top: 40px;
  }
  mt-md-5 {
    margin-top: 50px;
  }
  mt-md-auto {
    margin-top: auto;
  }
  mb-md-1 {
    margin-bottom: 10px;
  }
  mb-md-2 {
    margin-bottom: 20px;
  }
  mb-md-3 {
    margin-bottom: 30px;
  }
  mb-md-4 {
    margin-bottom: 40px;
  }
  mb-md-5 {
    margin-bottom: 50px;
  }
  mb-md-auto {
    margin-bottom: auto;
  }
  ml-md-1 {
    margin-left: 10px;
  }
  ml-md-2 {
    margin-left: 20px;
  }
  ml-md-3 {
    margin-left: 30px;
  }
  ml-md-4 {
    margin-left: 40px;
  }
  ml-md-5 {
    margin-left: 50px;
  }
  ml-md-auto {
    margin-left: auto;
  }
  mr-md-1 {
    margin-right: 10px;
  }
  mr-md-2 {
    margin-right: 20px;
  }
  mr-md-3 {
    margin-right: 30px;
  }
  mr-md-4 {
    margin-right: 40px;
  }
  mr-md-5 {
    margin-right: 50px;
  }
  mr-md-auto {
    margin-right: auto;
  }
  mx-md-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  mx-md-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  mx-md-3 {
    margin-left: 30px;
    margin-right: 30px;
  }
  mx-md-4 {
    margin-left: 40px;
    margin-right: 40px;
  }
  mx-md-5 {
    margin-left: 50px;
    margin-right: 50px;
  }
  mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
  my-md-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  my-md-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  my-md-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  my-md-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  my-md-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  my-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 992px) {
  m-lg-1 {
    margin: 10px;
  }
  m-lg-2 {
    margin: 20px;
  }
  m-lg-3 {
    margin: 30px;
  }
  m-lg-4 {
    margin: 40px;
  }
  m-lg-5 {
    margin: 50px;
  }
  m-lg-auto {
    margin: auto;
  }
  mt-lg-1 {
    margin-top: 10px;
  }
  mt-lg-2 {
    margin-top: 20px;
  }
  mt-lg-3 {
    margin-top: 30px;
  }
  mt-lg-4 {
    margin-top: 40px;
  }
  mt-lg-5 {
    margin-top: 50px;
  }
  mt-lg-auto {
    margin-top: auto;
  }
  mb-lg-1 {
    margin-bottom: 10px;
  }
  mb-lg-2 {
    margin-bottom: 20px;
  }
  mb-lg-3 {
    margin-bottom: 30px;
  }
  mb-lg-4 {
    margin-bottom: 40px;
  }
  mb-lg-5 {
    margin-bottom: 50px;
  }
  mb-lg-auto {
    margin-bottom: auto;
  }
  ml-lg-1 {
    margin-left: 10px;
  }
  ml-lg-2 {
    margin-left: 20px;
  }
  ml-lg-3 {
    margin-left: 30px;
  }
  ml-lg-4 {
    margin-left: 40px;
  }
  ml-lg-5 {
    margin-left: 50px;
  }
  ml-lg-auto {
    margin-left: auto;
  }
  mr-lg-1 {
    margin-right: 10px;
  }
  mr-lg-2 {
    margin-right: 20px;
  }
  mr-lg-3 {
    margin-right: 30px;
  }
  mr-lg-4 {
    margin-right: 40px;
  }
  mr-lg-5 {
    margin-right: 50px;
  }
  mr-lg-auto {
    margin-right: auto;
  }
  mx-lg-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  mx-lg-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  mx-lg-3 {
    margin-left: 30px;
    margin-right: 30px;
  }
  mx-lg-4 {
    margin-left: 40px;
    margin-right: 40px;
  }
  mx-lg-5 {
    margin-left: 50px;
    margin-right: 50px;
  }
  mx-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }
  my-lg-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  my-lg-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  my-lg-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  my-lg-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  my-lg-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  my-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 1140px) {
  m-xl-1 {
    margin: 10px;
  }
  m-xl-2 {
    margin: 20px;
  }
  m-xl-3 {
    margin: 30px;
  }
  m-xl-4 {
    margin: 40px;
  }
  m-xl-5 {
    margin: 50px;
  }
  m-xl-auto {
    margin: auto;
  }
  mt-xl-1 {
    margin-top: 10px;
  }
  mt-xl-2 {
    margin-top: 20px;
  }
  mt-xl-3 {
    margin-top: 30px;
  }
  mt-xl-4 {
    margin-top: 40px;
  }
  mt-xl-5 {
    margin-top: 50px;
  }
  mt-xl-auto {
    margin-top: auto;
  }
  mb-xl-1 {
    margin-bottom: 10px;
  }
  mb-xl-2 {
    margin-bottom: 20px;
  }
  mb-xl-3 {
    margin-bottom: 30px;
  }
  mb-xl-4 {
    margin-bottom: 40px;
  }
  mb-xl-5 {
    margin-bottom: 50px;
  }
  mb-xl-auto {
    margin-bottom: auto;
  }
  ml-xl-1 {
    margin-left: 10px;
  }
  ml-xl-2 {
    margin-left: 20px;
  }
  ml-xl-3 {
    margin-left: 30px;
  }
  ml-xl-4 {
    margin-left: 40px;
  }
  ml-xl-5 {
    margin-left: 50px;
  }
  ml-xl-auto {
    margin-left: auto;
  }
  mr-xl-1 {
    margin-right: 10px;
  }
  mr-xl-2 {
    margin-right: 20px;
  }
  mr-xl-3 {
    margin-right: 30px;
  }
  mr-xl-4 {
    margin-right: 40px;
  }
  mr-xl-5 {
    margin-right: 50px;
  }
  mr-xl-auto {
    margin-right: auto;
  }
  mx-xl-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  mx-xl-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  mx-xl-3 {
    margin-left: 30px;
    margin-right: 30px;
  }
  mx-xl-4 {
    margin-left: 40px;
    margin-right: 40px;
  }
  mx-xl-5 {
    margin-left: 50px;
    margin-right: 50px;
  }
  mx-xl-auto {
    margin-left: auto;
    margin-right: auto;
  }
  my-xl-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  my-xl-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  my-xl-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  my-xl-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  my-xl-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  my-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 576px) {
  p-sm-1 {
    padding: 10px;
  }
  p-sm-2 {
    padding: 20px;
  }
  p-sm-3 {
    padding: 30px;
  }
  p-sm-4 {
    padding: 40px;
  }
  p-sm-5 {
    padding: 50px;
  }
  p-sm-auto {
    padding: auto;
  }
  pt-sm-1 {
    padding-top: 10px;
  }
  pt-sm-2 {
    padding-top: 20px;
  }
  pt-sm-3 {
    padding-top: 30px;
  }
  pt-sm-4 {
    padding-top: 40px;
  }
  pt-sm-5 {
    padding-top: 50px;
  }
  pt-sm-auto {
    padding-top: auto;
  }
  pb-sm-1 {
    padding-bottom: 10px;
  }
  pb-sm-2 {
    padding-bottom: 20px;
  }
  pb-sm-3 {
    padding-bottom: 30px;
  }
  pb-sm-4 {
    padding-bottom: 40px;
  }
  pb-sm-5 {
    padding-bottom: 50px;
  }
  pb-sm-auto {
    padding-bottom: auto;
  }
  pl-sm-1 {
    padding-left: 10px;
  }
  pl-sm-2 {
    padding-left: 20px;
  }
  pl-sm-3 {
    padding-left: 30px;
  }
  pl-sm-4 {
    padding-left: 40px;
  }
  pl-sm-5 {
    padding-left: 50px;
  }
  pl-sm-auto {
    padding-left: auto;
  }
  pr-sm-1 {
    padding-right: 10px;
  }
  pr-sm-2 {
    padding-right: 20px;
  }
  pr-sm-3 {
    padding-right: 30px;
  }
  pr-sm-4 {
    padding-right: 40px;
  }
  pr-sm-5 {
    padding-right: 50px;
  }
  pr-sm-auto {
    padding-right: auto;
  }
  px-sm-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  px-sm-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  px-sm-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
  px-sm-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
  px-sm-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
  px-sm-auto {
    padding-left: auto;
    padding-right: auto;
  }
  py-sm-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  py-sm-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  py-sm-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  py-sm-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  py-sm-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  py-sm-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media only screen and (min-width: 768px) {
  p-md-1 {
    padding: 10px;
  }
  p-md-2 {
    padding: 20px;
  }
  p-md-3 {
    padding: 30px;
  }
  p-md-4 {
    padding: 40px;
  }
  p-md-5 {
    padding: 50px;
  }
  p-md-auto {
    padding: auto;
  }
  pt-md-1 {
    padding-top: 10px;
  }
  pt-md-2 {
    padding-top: 20px;
  }
  pt-md-3 {
    padding-top: 30px;
  }
  pt-md-4 {
    padding-top: 40px;
  }
  pt-md-5 {
    padding-top: 50px;
  }
  pt-md-auto {
    padding-top: auto;
  }
  pb-md-1 {
    padding-bottom: 10px;
  }
  pb-md-2 {
    padding-bottom: 20px;
  }
  pb-md-3 {
    padding-bottom: 30px;
  }
  pb-md-4 {
    padding-bottom: 40px;
  }
  pb-md-5 {
    padding-bottom: 50px;
  }
  pb-md-auto {
    padding-bottom: auto;
  }
  pl-md-1 {
    padding-left: 10px;
  }
  pl-md-2 {
    padding-left: 20px;
  }
  pl-md-3 {
    padding-left: 30px;
  }
  pl-md-4 {
    padding-left: 40px;
  }
  pl-md-5 {
    padding-left: 50px;
  }
  pl-md-auto {
    padding-left: auto;
  }
  pr-md-1 {
    padding-right: 10px;
  }
  pr-md-2 {
    padding-right: 20px;
  }
  pr-md-3 {
    padding-right: 30px;
  }
  pr-md-4 {
    padding-right: 40px;
  }
  pr-md-5 {
    padding-right: 50px;
  }
  pr-md-auto {
    padding-right: auto;
  }
  px-md-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  px-md-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  px-md-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
  px-md-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
  px-md-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
  px-md-auto {
    padding-left: auto;
    padding-right: auto;
  }
  py-md-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  py-md-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  py-md-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  py-md-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  py-md-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  py-md-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media only screen and (min-width: 992px) {
  p-lg-1 {
    padding: 10px;
  }
  p-lg-2 {
    padding: 20px;
  }
  p-lg-3 {
    padding: 30px;
  }
  p-lg-4 {
    padding: 40px;
  }
  p-lg-5 {
    padding: 50px;
  }
  p-lg-auto {
    padding: auto;
  }
  pt-lg-1 {
    padding-top: 10px;
  }
  pt-lg-2 {
    padding-top: 20px;
  }
  pt-lg-3 {
    padding-top: 30px;
  }
  pt-lg-4 {
    padding-top: 40px;
  }
  pt-lg-5 {
    padding-top: 50px;
  }
  pt-lg-auto {
    padding-top: auto;
  }
  pb-lg-1 {
    padding-bottom: 10px;
  }
  pb-lg-2 {
    padding-bottom: 20px;
  }
  pb-lg-3 {
    padding-bottom: 30px;
  }
  pb-lg-4 {
    padding-bottom: 40px;
  }
  pb-lg-5 {
    padding-bottom: 50px;
  }
  pb-lg-auto {
    padding-bottom: auto;
  }
  pl-lg-1 {
    padding-left: 10px;
  }
  pl-lg-2 {
    padding-left: 20px;
  }
  pl-lg-3 {
    padding-left: 30px;
  }
  pl-lg-4 {
    padding-left: 40px;
  }
  pl-lg-5 {
    padding-left: 50px;
  }
  pl-lg-auto {
    padding-left: auto;
  }
  pr-lg-1 {
    padding-right: 10px;
  }
  pr-lg-2 {
    padding-right: 20px;
  }
  pr-lg-3 {
    padding-right: 30px;
  }
  pr-lg-4 {
    padding-right: 40px;
  }
  pr-lg-5 {
    padding-right: 50px;
  }
  pr-lg-auto {
    padding-right: auto;
  }
  px-lg-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  px-lg-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  px-lg-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
  px-lg-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
  px-lg-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
  px-lg-auto {
    padding-left: auto;
    padding-right: auto;
  }
  py-lg-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  py-lg-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  py-lg-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  py-lg-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  py-lg-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  py-lg-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media only screen and (min-width: 1140px) {
  p-xl-1 {
    padding: 10px;
  }
  p-xl-2 {
    padding: 20px;
  }
  p-xl-3 {
    padding: 30px;
  }
  p-xl-4 {
    padding: 40px;
  }
  p-xl-5 {
    padding: 50px;
  }
  p-xl-auto {
    padding: auto;
  }
  pt-xl-1 {
    padding-top: 10px;
  }
  pt-xl-2 {
    padding-top: 20px;
  }
  pt-xl-3 {
    padding-top: 30px;
  }
  pt-xl-4 {
    padding-top: 40px;
  }
  pt-xl-5 {
    padding-top: 50px;
  }
  pt-xl-auto {
    padding-top: auto;
  }
  pb-xl-1 {
    padding-bottom: 10px;
  }
  pb-xl-2 {
    padding-bottom: 20px;
  }
  pb-xl-3 {
    padding-bottom: 30px;
  }
  pb-xl-4 {
    padding-bottom: 40px;
  }
  pb-xl-5 {
    padding-bottom: 50px;
  }
  pb-xl-auto {
    padding-bottom: auto;
  }
  pl-xl-1 {
    padding-left: 10px;
  }
  pl-xl-2 {
    padding-left: 20px;
  }
  pl-xl-3 {
    padding-left: 30px;
  }
  pl-xl-4 {
    padding-left: 40px;
  }
  pl-xl-5 {
    padding-left: 50px;
  }
  pl-xl-auto {
    padding-left: auto;
  }
  pr-xl-1 {
    padding-right: 10px;
  }
  pr-xl-2 {
    padding-right: 20px;
  }
  pr-xl-3 {
    padding-right: 30px;
  }
  pr-xl-4 {
    padding-right: 40px;
  }
  pr-xl-5 {
    padding-right: 50px;
  }
  pr-xl-auto {
    padding-right: auto;
  }
  px-xl-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  px-xl-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  px-xl-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
  px-xl-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
  px-xl-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
  px-xl-auto {
    padding-left: auto;
    padding-right: auto;
  }
  py-xl-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  py-xl-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  py-xl-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  py-xl-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  py-xl-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  py-xl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

@media only screen and (min-width: 576px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-sm-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-inline {
    display: inline;
  }
  .d-sm-none {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-md-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-none {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-lg-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-none {
    display: none;
  }
}

@media only screen and (min-width: 1140px) {
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-xl-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-inline {
    display: inline;
  }
  .d-xl-none {
    display: none;
  }
}
