@include size($w, $h: $w) {
  width: $w;
  height: $h
}

@include flex($justifyContent, $alignItems: $justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// 背景圖片
@include bg($w, $h, $url, $bgSize: contain) {
  @include size($w, $h);
  background-image: url($url);
  background-size: $bgSize;
  background-position: center center;
  background-repeat: no-repeat;
}
