// 區塊水平、垂直置中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 區塊 flexbox 水平、垂直對齊
// ------------------------------------
$justify-content: (
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around
);

$align-items: (
  'start': flex-start,
  'center': center,
  'end': flex-end
);

@each $name, $value in $justify-content {
  .justify-content-#{ $name } {
    justify-content: map-get($justify-content, $name);
  }
}

@each $name, $value in $align-items {
  .align-items-#{ $name } {
    align-items: map-get($align-items, $name);
  }
}

// ------------------------------------
